<div class="counter js-counter" id="js-counter" data-deadline="{{counter.deadline}}">
    <div class="counter_col">
        <div class="counter_digit js-digit-days"></div>
        <div class="counter_label">{{counter.label_days}}</div>
    </div>
    <div class="counter_col">
        <div class="counter_digit js-digit-hours"></div>
        <div class="counter_label">{{counter.label_hours}}</div>
    </div>
    <div class="counter_col">
        <div class="counter_digit js-digit-minutes"></div>
        <div class="counter_label">{{counter.label_min}}</div>
    </div>
    <div class="counter_col">
        <div class="counter_digit js-digit-seconds"></div>
        <div class="counter_label">{{counter.label_sec}}</div>
    </div>
</div>