<form class="form" action="">
    <fieldset class="form_field">
        <input class="form_input" type="text" value="" placeholder="{{form.input_placeholder1}}" />
    </fieldset>
    <fieldset class="form_field">
        <input class="form_input" type="text" value="" placeholder="{{form.input_placeholder2}}" />
    </fieldset>
    <fieldset class="form_field">
        <input class="form_input" type="text" value="" placeholder="{{form.input_placeholder3}}" />
    </fieldset>
    <fieldset class="form_field">
        <input class="form_input" type="text" value="" placeholder="{{form.input_placeholder4}}" />
    </fieldset>
    <fieldset class="form_field">
        <input class="form_button" type="submit" value="{{form.button_text}}" />
    </fieldset>
    <fieldset class="form_message">
        <p class="form_message-text">{{form.text_message1}}</p>
        <p class="form_message-text">{{form.text_message2}}</p>
    </fieldset>
</form>