* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font: 300 14px $font-stack-default;
    color: #242424;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}