.form {
    &_field {
        margin-bottom: 18px;
    }
    &_input {
        width: 100%;
        height: 50px;
        padding: 0 15px;
        border: solid 1px #bebebe;
        border-radius: 5px;
        color: #6c6c6c;
        font-size: 19px;
        outline: none;

        &:focus {
            border-color: #90d23d;
        }
        &::placeholder {
            color: #bebebe;
        }
    }
    &_button {
        width: 100%;
        background-color: #90d23d;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &_message-text {
        color: #6c6c6c;
        font-size: 15px;
    }
}